//light mode
$text_dark: #282c34;
$bg_dark: white;
$nav_text_dark: rgb(65, 65, 65);
$link_hover_dark: cornflowerblue;
$project_bg_dark: rgb(178, 174, 201);


//dark mode
$text_dark: white;
$bg_dark: #282c34;
$nav_text_dark: aliceblue;
$link_hover_dark: cornflowerblue;
$project_bg_dark: rgb(59, 65, 70);
$project_link_dark: rgb(223, 223, 223)
