@import "colors";

.base {
    background-color: $bg_dark;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: $text_dark;
}

.navbar_container {
    padding: 5px;
}
  
.navbar {
    margin: 5px;

    a {
        transition: .3s;
        text-decoration: none;
        padding: 5px;
        color: $nav_text_dark;
        border-bottom: $link_hover_dark solid 2px;
    }

    a:hover {
        color: $link_hover_dark;
        border-bottom: $nav_text_dark solid 4px;
    }
}

.homepage {
    text-align: center;
}

.page_header {
    text-align: center;
}

.project_container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding: 0px 20px 10px 20px;
}

.project_box {
    margin: 25px;
    padding: 5px;
    width: 43%;
    height: 300px;
    color: $project_link_dark;;
    background-color: $project_bg_dark;
    box-shadow: 5px 5px 10px black;
    border-radius: 2px;
    transition: .5s;

    a {
        transition: .3s;
        text-decoration: none;
        color: $project_link_dark;
    }
    a:hover {
        color: $link_hover_dark;
    }
}

@media (max-width: 991px) {
    .project_box {
        margin: 20px;
    }
}

@media (max-width: 767px) {
    .project_box {
        margin: 10px;
    }
}

@media (max-width: 479px) {
    .project_box {
        width: 100% !important;
    }
}